<mat-toolbar color="primary">
  <span class="navbar-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>attach_money</mat-icon>
        <span>Crypto</span>
      </button>
      <button mat-menu-item>
        <mat-icon>rss_feed</mat-icon>
        <span>IoT</span>
      </button>
      <button mat-menu-item>
        <mat-icon>weekend</mat-icon>
        <span>Big Tech</span>
      </button>
    </mat-menu>
  </span>
  <span class="navbar-space">DevCache</span>
</mat-toolbar>

